@use "../../styles/abstracts/variables" as variables;

.slideshow-container {
    display: flex;
    align-items: center; //on centre verticalement
    justify-content: space-between;
    width: 90%;
    height: 255px; //hauteur pour mobile
    position: relative;
    overflow: hidden; //on s'assure que rien ne dépasse du conteneur
    margin-right: auto;
    margin-left: auto;

    .slide-image {
        display: block;
        width: 100%; //occupe toute la largeur du parent
        height: 100%; //occupe toute la hauteur du parent
        object-fit: cover;
        border-radius: 10px;
    }

    .slide-button {
        position: absolute;
        top: 50%; // on centre verticalement
        transform: translateY(-50%); //on fait coïncider le centre des flèches avec le centre du conteneur
        background: none;
        border: none;
        cursor: pointer;
        z-index: 10; //on s'assure qu'il apparaît au-dessus de l'image

        img {
            width: 24px;
            height: auto;
        }
    }

    .slide-counter {
        position: absolute;
        color: variables.$color-secondary;
        left: 50%; // on centre horizontalement
        bottom: 14px;
        font-size: 14px;
    }

    .prev {
        left: 2px; //2px du bord gauche
    }

    .next {
        right: 2px; //2px du bord droit
    }

    @media (min-width: 769px) {

        height: 335px;

        .slide-image {
            border-radius: 17.5px;
        }

        .slide-button {

            img {
                width: 36px;
                height: auto;
            }
        }

        .slide-counter {
            font-size: 16px;
        }
        
        .prev {
            left: 12.68px;
        }

        .next {
            right: 12.68px;
        }
    }

    @media (min-width: 1025px) {

        height: 415px;

        .slide-image {
            border-radius: 25px;
        }

        .slide-button {

            img {
                width: 48px;
                height: auto;
            }
        }

        .slide-counter {
            font-size: 18px;
        }

        .prev {
            left: 23.36px; //2px du bord gauche
        }
    
        .next {
            right: 23.36px; //2px du bord droit
        }
    }


}