@use "../../styles/abstracts/variables" as variables;

.slideshow-container {
    display: flex;
    align-items: center; //on centre verticalement
    justify-content: space-between;
    width: 100%;
    height: 255px; //hauteur pour mobile
    position: relative;
    overflow: hidden; //on s'assure que rien ne dépasse du conteneur

    .slide-image {
        display: block;
        width: 100%; //occupe toute la largeur du parent
        height: 100%; //occupe toute la hauteur du parent
        object-fit: cover;
        border-radius: 10px;
    }

    .slide-button {
        position: absolute;
        top: 50%; // on centre verticalement
        background: none;
        border: none;
        cursor: pointer;
        z-index: 10; //on s'assure qu'il apparaît au-dessus de l'image

        .img {
            opacity: 0.87;
        }
    }

    .slide-counter {
        position: absolute;
        color: variables.$color-secondary;
        //text-align: center;
        left: 50%; // on centre horizontalement
        bottom: 14px;
        font-size: 14px;
    }

    .prev {
        left: 2px; //2px du bord gauche
    }

    .next {
        right: 2px; //2px du bord droit
    }

}