.apartment {
    width: 90%;
    margin : 0 auto; //on centre horizontalement

    //style pour les tablettes
    @media (min-width: 769px) {
        width: 92%;
    }

    //style pour les PC 
    @media (min-width: 1025px) {
        width: 85%;
        max-width: 1440px;
    }
}
