@use "../../styles/abstracts/variables" as variables;

.card {
    display: flex;
    width: 100%;
    height: 255px;
    position: relative;
    border-radius: 10px;

    //Pseudo-élément pour le gradient
    &::before{
        content:"";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        border-radius: 10px;
        z-index: 1; //on place le gradient au-dessus de l'image mais sous le texte
    }

    img {
        display: block;
        width: 100%; //occupe toute la largeur du parent
        height: 100%; //occupe toute la hauteur du parent
        object-fit: cover;
        border-radius: 10px;
        z-index: 0; //on place l'image en dessous du gradient
    }

    h3 {
        position: absolute;
        bottom: 14px;
        left: 14px;
        margin: 0; //on supprime les marges par défaut
        max-width: calc(100% - 28px); //on soustrait 28px : 14px à gauche et 14 px à droite
        white-space: normal; //on permet au texte de passer à la ligne si nécessaire
        overflow: hidden; //on cache tout ce qui dépasse
        color: variables.$color-secondary;
        font-size: 18px;
        z-index: 2;//on s'assure que le texte est au-dessus de l'image et du gradient
    }

    @media (min-width: 769px) {
        width: calc((100% - 40px) / 2 );
    }

    @media (min-width: 1025px) {
        width: calc(33.33% - (2 * 50px / 3)); //on soustrait l'espacement total divisé par le nombre de cartes par ligne

        &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); //box-shadow pour le contraste
            transform: scale(1.05);
            transition: transform 0.3s ease, box-shadow 0.3s ease; //fluidité
        }

    }
}