@use "../../styles/abstracts/variables" as variables;

.collapse {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative; //on envisage de positionner la flèche arrow
    border: none;
    margin-top: 14px;
    margin-right: auto;
    margin-left: auto;

    //Titres (Fiabilité, Respect, etc.)
    .collapse-title {
        display: flex;
        height: 30px;
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        color: variables.$color-secondary;
        background-color: variables.$color-primary;
        border: none;
        padding: 14px;
        font-size: 13px;
        z-index: 2;
        
        

        //Flèche (arrow)
        .arrow-icon {
            width: 16px;
            transition: transform 0.3s; //on crée une rotation

            //Lorsque le collapse est ouvert, on fait pointer la flèche vers le haut
            &.opened {
                transform: rotate(180deg);
            }
        }
    }

    //Contenu : quand le collapse est ouvert
    .collapse-content {
        background-color: variables.$color-tertiary;
        color: variables.$color-primary;
        padding: 19px 14px 14px 14px;
        display: none; // Par défaut, le contenu est caché
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-top: -5px;
        z-index: 1;

        //Lorsque le collapse est ouvert, on affiche le contenu
        &.opened {
            display: block;
            font-size: 12px;
            font-weight: 400;
            line-height: 17.11px;
        }
    }

    @media (min-width: 769px) {
        .collapse-title {
            height: 47px;
            font-size: 18.5px;

            .arrow-icon {
                width: 20px;
            }
        }

        .collapse-content {
            &.opened {
                font-size: 18px;
                line-height: 25.67px;
            }
        }
    }

    @media (min-width: 1025px) {
        .collapse-title {
            height: 38.5px;
            font-size: 24px;

            .arrow-icon {
                width: 24px;
            }
        }

        .collapse-content {
            &.opened {
                font-size: 24px;
                line-height: 34.22px;
            }
        }
    }

}