.header {
    display: flex;
    justify-content: space-between;
    align-items: center; //on aligne verticalement les éléments logo et navbar

    img{
        width: 145px;
        height: 47px;
    }

    a {
        text-decoration: none;
    }

    //style pour les PC 
    @media (min-width: 1025px) {
        .img {
            //width: 210.32px;
            height: 12px;
        }
    }
    
}