.header {
    display: flex;
    justify-content: space-between;
    align-items: center; //on aligne verticalement les éléments logo et navbar
    width: 90%;
    margin: 0 auto; //on centre horizontalement

    .header-logo {
        width: 145px;
    }

    a {
        text-decoration: none;
    }

    //tablettes
    @media (min-width: 769px) {
        .header-logo {
            width: 178px;
        }
    }

    //style pour les PC 
    @media (min-width: 1025px) {
        .header-logo {
            width: 211px;
        }
    }
    
}