@use "../../styles/abstracts/variables" as variables;

.navbar {
    ul {
        list-style-type: none; //on supprime les puces
        margin: 0; //on supprime la marge
        padding: 0; //on supprime le padding
        display: flex; //on affiche les éléments horizontalement
        gap: 10px; //on ajoute un espacement entre les liens
    }

    a {
        font-size: 12px;
        font-weight: 500;
        text-decoration: none; //on supprime le soulignement des liens
        color: variables.$color-primary;
        text-transform: uppercase; //on met les éléments en majuscule
    }

    .active-link {
        text-decoration: underline;
        color: variables.$color-primary;
    }

    //tablettes
    @media (min-width: 769px) {
        ul {
            gap: 25px;
        }

        a {
            font-size: 18px;
        }
    }

    //style pour les PC 
    @media (min-width: 1025px) {
        ul { 
            gap: 40px; 
        }
    
        a {
            font-size: 24px;
            text-transform: none;
        }
    }

}
