@use "../../styles/abstracts/variables" as variables;

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    gap: 14px;

    @media (min-width: 1025px) {
        flex-direction: row;
        background-color: variables.$color-tertiary;
        border-radius: 20px;
        padding: 50px;
        //gap: 50px;
    }
}