@use "../../styles/abstracts/variables" as variables;

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: variables.$color-tertiary;
}