@use "../../styles/abstracts/variables" as variables;

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 100%;
    margin-top: 14px;
    height: 209px;
    background-color: #000000;
    padding: 0;

    img {
        width: 122px;
    }

    p {
        font-size: 12px;
        margin-top: 34px;
        color: variables.$color-secondary;
    }

    @media (min-width: 769px) {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

        p {
            font-size: 18px;
        }
    }

    @media (min-width: 1025px) {

        max-width: 1440px;

        p {
            font-size: 24px;
        }
    }    
}