@use "../../styles/abstracts/variables" as variables;

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 100vw;
    margin-left: -5vw;
    margin-top: 14px;
    height: 209px;
    background-color: #000000;

    img {
        width: 122px;
    }

    p {
        font-size: 12px;
        margin-top: 34px;
        color: variables.$color-secondary;
    }
}