.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    h2 {
        position: relative;
        color: white;
        z-index: 1;
        text-align: center;
    }
}