@use "../../styles/abstracts/variables" as variables;

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 111px;

    &.without-slogan {
        height: 223px;
    }

    //on crée un overlay (superposition) avec une opcaité de 30%
    &::before{ //on utilise le pseudo-élément pour créer une superposition semi-transparente sur l'image
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3); //O.3 est l'opacité (30% Figma)
        border-radius: 10px;
        z-index: 1; //on s'assure que l'overlay est au-dessus de l'image
    }
    

    img {
        display: flex;
        justify-content: center;
        overflow: hidden;
        object-fit: cover;
        position: relative;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        z-index: 0; //on s'assure que l'image est en-dessous de l'overlay
    }

    h2 {
        position: absolute;
        color: variables.$color-secondary;
        //text-align: center;
        margin: 0;
        font-weight: 500;
        font-size: 24px;
        z-index: 2; //on s'assure que le texte est au-dessus de l'overlay et de l'image
        left: 14px;
        text-align: left;
    }

    @media (min-width: 1025px) {
        height: 223px;

        h2 {
            left: 0; //on réinitialise à 0 pour permettre de centrer
            font-size: 48px;
            text-align: center; //on centre le texte 
            width: 100%;
        }
    }
}